In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [4]:
df_netflix = pd.read_csv("netflix_titles.csv")
df_netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast..."
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

In [5]:
#drop unnecessary columns and fill in missing data
df_netflix.drop(columns=['show_id', 'date_added', 'country'], inplace = True)
df_netflix["director"].fillna("Not available", inplace = True)
df_netflix["cast"].fillna("Not available", inplace = True)
df_netflix

,type,title,director,cast,release_year,rating,duration,listed_in,description
0,TV Show,3%,Not available,"João Miguel, Bianca Comparato, Michel Gomes, R...",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
...,...,...,...,...,...,...,...,...,...
7782,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7783,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
7784,Movie,Zulu Man in Japan,Not available,Nasty C,2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast..."
7785,TV Show,Zumbo's Just Desserts,Not available,"Adriano Zumbo, Rachel Khoo",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...
7786,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,Not available,2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

In [7]:
#create new dataframe to only show movies and drop additional columns not needed
df_movies = df_netflix[df_netflix['type'] == 'Movie'].reset_index()
df_movies = df_movies.drop(['index', 'type', 'rating', 'duration', 'release_year'], axis=1)
df_movies

,title,director,cast,listed_in,description
0,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...","Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
1,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...","Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
2,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...","Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
3,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",Dramas,A brilliant group of students become card-coun...
4,122,Yasir Al Yasiri,"Amina Khalil, Ahmed Dawood, Tarek Lotfy, Ahmed...","Horror Movies, International Movies","After an awful accident, a couple admitted to ..."
...,...,...,...,...,...
5372,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...","Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
5373,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
5374,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...","Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
5375,Zulu Man in Japan,Not available,Nasty C,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast..."
5376,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,Not available,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

In [9]:
#removed spaces inbetween director and cast columns
df_movies['director'] = df_movies['director'].str.replace(" ","")
df_movies['cast'] = df_movies['cast'].str.replace(" ","")
df_movies

,title,director,cast,listed_in,description
0,7:19,JorgeMichelGrau,"DemiánBichir,HéctorBonilla,OscarSerrano,Azalia...","Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
1,23:59,GilbertChan,"TeddChan,StellaChung,HenleyHii,LawrenceKoh,Tom...","Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
2,9,ShaneAcker,"ElijahWood,JohnC.Reilly,JenniferConnelly,Chris...","Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
3,21,RobertLuketic,"JimSturgess,KevinSpacey,KateBosworth,AaronYoo,...",Dramas,A brilliant group of students become card-coun...
4,122,YasirAlYasiri,"AminaKhalil,AhmedDawood,TarekLotfy,AhmedElFish...","Horror Movies, International Movies","After an awful accident, a couple admitted to ..."
...,...,...,...,...,...
5372,Zoom,PeterHewitt,"TimAllen,CourteneyCox,ChevyChase,KateMara,Ryan...","Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
5373,Zozo,JosefFares,"ImadCreidi,AntoinetteTurk,EliasGergi,CarmenLeb...","Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
5374,Zubaan,MozezSingh,"VickyKaushal,Sarah-JaneDias,RaaghavChanana,Man...","Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
5375,Zulu Man in Japan,Notavailable,NastyC,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast..."
5376,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,SamDunn,Notavailable,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

In [11]:
#combined all columns into a new column for keywords that will be vectorized
df_movies['text'] = df_movies[df_movies.columns[1:]].apply(lambda x: ', '.join(x.dropna().astype(str).str.lower()), axis=1)
df_movies

,title,director,cast,listed_in,description,text
0,7:19,JorgeMichelGrau,"DemiánBichir,HéctorBonilla,OscarSerrano,Azalia...","Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,"jorgemichelgrau, demiánbichir,héctorbonilla,os..."
1,23:59,GilbertChan,"TeddChan,StellaChung,HenleyHii,LawrenceKoh,Tom...","Horror Movies, International Movies","When an army recruit is found dead, his fellow...","gilbertchan, teddchan,stellachung,henleyhii,la..."
2,9,ShaneAcker,"ElijahWood,JohnC.Reilly,JenniferConnelly,Chris...","Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...","shaneacker, elijahwood,johnc.reilly,jenniferco..."
3,21,RobertLuketic,"JimSturgess,KevinSpacey,KateBosworth,AaronYoo,...",Dramas,A brilliant group of students become card-coun...,"robertluketic, jimsturgess,kevinspacey,katebos..."
4,122,YasirAlYasiri,"AminaKhalil,AhmedDawood,TarekLotfy,AhmedElFish...","Horror Movies, International Movies","After an awful accident, a couple admitted to ...","yasiralyasiri, aminakhalil,ahmeddawood,tareklo..."
...,...,...,...,...,...,...
5372,Zoom,PeterHewitt,"TimAllen,CourteneyCox,ChevyChase,KateMara,Ryan...","Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...","peterhewitt, timallen,courteneycox,chevychase,..."
5373,Zozo,JosefFares,"ImadCreidi,AntoinetteTurk,EliasGergi,CarmenLeb...","Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...,"joseffares, imadcreidi,antoinetteturk,eliasger..."
5374,Zubaan,MozezSingh,"VickyKaushal,Sarah-JaneDias,RaaghavChanana,Man...","Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,"mozezsingh, vickykaushal,sarah-janedias,raagha..."
5375,Zulu Man in Japan,Notavailable,NastyC,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast...","notavailable, nastyc, documentaries, internati..."
5376,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,SamDunn,Notavailable,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...,"samdunn, notavailable, documentaries, music & ..."

In [16]:
vect_count = CountVectorizer()

#creating matrix counting each word in text column
count_matrix = vect_count.fit_transform(df_movies['text'])

# generating the cosine similarity matrix
cosine_sim = cosine_similarity(count_matrix, count_matrix)

def movie_recommendations(title, cosine_sim = cosine_sim):

    # initializing empty list
    movie_rec = []
    
    #finding index of movie that matches the title
    idx = df_movies.loc[df_movies['title'] == title].index[0]
    print('idx is ', idx)
    
    #creating Series with the similarity scores in descending order
    scores = pd.Series(cosine_sim[idx]).sort_values(ascending = False)
    print(scores)
    
    # finding the top 5 indexes that are similar to movie
    top_50_index = list(scores.iloc[1:51].index)
    
    # populating the list with the titles of the best 10 matching movies
    for x in top_50_index:
        movie_rec.append(list(df_movies.title)[x])
        
    return movie_rec

In [34]:
y = input("Enter a movie title: ")
#putting list into dataframe & rename column
df_movie_rec = pd.DataFrame(movie_recommendations(y), columns=['Movie Titles'])
#shift index by 1
df_movie_rec.index += 1
#print(movie_recommendations("13TH"))
df_movie_rec

Enter a movie title: The Legend of 420
idx is  4558
4558    1.000000
4075    0.586939
2998    0.575829
906     0.573539
50      0.572656
          ...
2640    0.000000
4403    0.000000
5343    0.000000
360     0.000000
5246    0.000000
Length: 5377, dtype: float64

                                Movie Titles
1                                  Studio 54
2                    Muzaffarnagar Baaqi Hai
3                           Catching the Sun
4                                       13TH
5                                 Fishpeople
6                            What the Health
7                             Food on the Go
8                           Speed Is My Need
9                           The Speed Cubers
10                             Strong Island
11                                  Numbered
12                        Sad Hill Unearthed
13      Casablancas: The Man Who Loved Women
14                                 The Force
15                                 Woodstock
16                            Whose Streets?
17                              Born in Gaza
18                                     Dries
19                       The Black Godfather
20                              Enlighten Us
21                       The Sunshine Makers
22                Virunga: Gorillas in Peril
23                   A Love Song for Latasha
24                         The Hurt Business
25                           The Last Resort
26                        Functional Fitness
27                            Apache Warrior
28                               Eve's Apple
29         Stars in the Sky: A Hunting Story
30                     Le serment des Hitler
31                                     Roots
32                     American Circumcision
33                         Zulu Man in Japan
34                      The Battle of Midway
35                          Fire in Paradise
36                     The Edge of Democracy
37   Secrets of Her Majesty's Secret Service
38                  What Makes a Psychopath?
39                         This Was Tomorrow
40      Listen Up! The Lives of Quincy Jones
41  Spitfire: The Plane that Saved the World
42         Ayotzinapa, el paso de la tortuga
43                           Silicon Cowboys
44                    The Tigers of Scotland
45        Let It Fall: Los Angeles 1982-1992
46                            A 3 Minute Hug
47     American Murder: The Family Next Door
48                            Down The Fence
49                Franca: Chaos and Creation
50   ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS